*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.gridItems{
    position: absolute;
    top:50%;
    margin-left: 250px;
    
}
