---
import Robot from "./Robot";
import '@fontsource-variable/plus-jakarta-sans';
import '@fontsource-variable/inter';
import "../styles/global.css"   ;
---

<!-- Hero Section -->

<div class="  h-screen  ">

    <div class="pt-[228px] pl-[109px] font-bold text-[24px] ">
        <h1 class="flex  text-white  " style="font-family: plus-jakarta-sans;  ">Desarrollador Front-End </h1>
    </div>
    <div class=" ">
        <Robot client:load />
    </div>
</div>